html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  --answerOptionColor:#F7F5FA; --answerOptionActiveColor:#FFFFFF; --answerOptionBorderColor:#F7F5FA; --selectableCardActiveColor:transparent; --answerOptionRadius:12px; --questionBackgroundColor:#CCAEF1; --buttonRadius:32px; --buttonPadding:15px; --font:Montserrat; --neutral900Color:#091A3A; --neutral800Color:#0B2047; --neutral700Color:#24324A; --neutral600Color:#5A657B; --neutral500Color:#5A657B; --neutral400Color:#7B8597; --neutral300Color:#BDC2CB; --neutral200Color:#D4D7DD; --neutral100Color:#F9FAFA; --blackColor:#000000; --whiteColor:#FFFFFF; --background1Color:#EFEBF4; --background2Color:#F1F9F7; --background3Color:#FFFFFF; --primary500Color:#6068C2; --primary400Color:#848AD0; --primary300Color:#848AD0; --primary200Color:#C4C7E8; --primary100Color:#E2E3F4; --secondary1Color:#39BD99; --secondary2Color:#CDEFE6; --accentRedColor:#FC4646; --accentGreenColor:#34C759; --accentYellowColor:#F7C557; --accentBlueColor:#68DFFA; --primaryButtonShadowColor:rgba(132, 138, 208, 0.31); --secondaryButtonShadowColor:rgba(57, 189, 153, 0.31); --shadowCardDefault:0px 12px 24px rgba(36, 50, 74, 0.1), 0px 2px 6px rgba(36, 50, 74, 0.06); --countdownTimeBlock:rgba(57, 189, 153, 0.4); --additionalDiscountHeaderColor:rgba(132, 138, 208, 0.1); --exclusiveOfferLogoBackgroundColor:rgba(132, 138, 208, 0.2); --checkoutPriceBannerShadowColor:rgba(132, 138, 208, 0.4); --countdownShadowColor:rgba(132, 138, 208, 0.15); --choosePlanNotificationBackgroundColor:rgba(132, 138, 208, 0.2); --howItWorksActivePointShadowColor:rgba(132, 138, 208, 0.32); --priceSectionShadowColor:rgba(132, 138, 208, 0.4); --priceSectionShadowSecondaryColor:rgba(189, 194, 203, 0.4); --errorInputBackgroundColor:rgba(247, 197, 87, 0.3); --checkboxBorderColor:var(--neutral300Color); --buttonTextShadowColor:rgba(66, 33, 108, 0.12); --pulseButtonShadowColor:rgba(132, 138, 208, 0.4); --planInfoOnePriceBackgroundColor:rgba(212, 215, 221, 0.3); --blurredHeaderBackgroundColor:rgba(239, 235, 244, 0.85); --cardMoreBtnBackgroundColor:linear-gradient(270deg, #FFFFFF 63.54%, rgba(255, 255, 255, 0) 91.43%); --cardMoreBtnBackgroundArColor:linear-gradient(90deg, #FFFFFF 63.54%, rgba(255, 255, 255, 0) 91.43%); --backgroundLegalHalfOpacityColor:rgba(255, 255, 255, 0.5); --exclusiveOfferLabelsLogoBackgroundColor:rgba(196, 199, 232, 0.4); --shadow40Primary400BrandColor:rgba(132, 138, 208, 0.4); --shadow80Primary400BrandColor:rgba(132, 138, 208, 0.8); --shadow60Primary500BrandColor:rgba(96, 104, 194, 0.6); --neutral900withOpacity03:rgba(9, 26, 58, 0.3); --shadow80Primary200Color:rgba(196, 199, 232, 0.8);
}

.icon-s {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  overflow: hidden;
}

.icon-m {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.225em;
  overflow: hidden;
}

.icon-l {
  width: 2.25em;
  height: 2.25em;
  vertical-align: -0.3em;
  overflow: hidden;
}

.icon-primary {
  fill: darkgray;
}

.icon-secondary {
  fill: rosybrown
}
