.main {
  width: 70%;
  margin: 20px auto;
}

.main svg {
  margin-right: 20px;
}

.complexIcon > path:first-of-type {
  fill: blue
}

.complexIcon > circle {
  fill: blue
}

.complexIcon > path:last-of-type {
  fill: black
}
