.main {
  width: 70%;
  margin: 20px auto;
}

.main svg {
  margin-right: 20px;
}

.complexIcon > path:first-of-type {
  fill: blue
}

.complexIcon > circle {
  fill: green
}

.complexIcon > path:last-of-type {
  fill: orange
}

.list div {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
